.App{
  border-style: solid;
  border-color: grey;
  border-radius: 5px;
  display: block;
  max-width: 500px;
}

.title{
  display: block;
  margin: 10px;
  padding: 10px;
}

.form{
  /* position: relative; */
  /* display: block;
  margin: 10px; */
  /* padding: 10px; */
}


.name-input{
  /* width:48%; */
  display: inline-block;
  margin:10px;
  /* display:none; */
}

.submit-button{
  margin: 10px;
  /* width:48%; */
  display:inline-block;
  background-color: #e6e6e6;
  border-color: #b7b7b7;
  border-radius: 3px;
  -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
  font-weight: 600;
  /* display: none; */
}

.new-game-button{
  margin: 10px;
  background-color: #e6e6e6;
  border-color: #b7b7b7;
  border-radius: 3px;
  -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
  font-weight: 600;
}

.score{
  display: absolute;
  font-weight: 600;
  /* display: none; */
}

.game-container{
  display: relative;
  margin: 10px;
}